[*]
charset=utf-8
end_of_line=lf
trim_trailing_whitespace=true
insert_final_newline=true
indent_style=space
indent_size=4

[{*.sht,*.htm,*.html,*.shtm,*.shtml}]
indent_style=space
indent_size=4

[{phpunit.xml.dist,*.jhm,*.rng,*.wsdl,*.fxml,*.xslt,*.jrxml,*.ant,*.xul,*.xsl,*.xsd,*.tld,*.jnlp,*.xml}]
indent_style=space
indent_size=4

[{.eslintrc,.babelrc,.ftppass,jest.config,.stylelintrc,*.bowerrc,*.jsb3,*.jsb2,*.json}]
indent_style=space
indent_size=2

[*.svg]
indent_style=space
indent_size=4

[*.css]
indent_style=space
indent_size=4

[{*.applejs,*.js,*.ejs}]
indent_style=space
indent_size=2

[{*.ts,*.ats}]
indent_style=space
indent_size=4

[*.js.map]
indent_style=space
indent_size=2

[{*.module,*.engine,*.profile,*.hphp,*.test,*.phtml,*.php5,*.php4,*.php,*.theme,*.install,*.inc}]
indent_style=space
indent_size=4

[*.blade.php]
indent_style=space
indent_size=2

[*.scss]
indent_style=space
indent_size=2

[*.vue]
indent_style=space
indent_size=4

[{*.yml,*.yaml}]
indent_style=space
indent_size=2
